nav p
  min-width unset

a
  display flex
  flex-wrap wrap
  //- these should probably rely on custom properties
  align-items baseline
  gap 0.5rem


html, .body
  --chroma 0.00
  --hue 0
  --highlight oklch(var(--lightness) var(--chroma) var(--hue))
  --accent oklch( from var(--highlight) 50% c h)

.lightest
  --lightness 80%
.lighter
  --lightness 70%
.light
  --lightness 60%
.auto
  --lightness 50%
.dark
  --lightness 40%
.darker
  --lightness 30%
.darkest
  --lightness 20%

.chroma-lowest
  --chroma 0.05
.chroma-lower
  --chroma 0.10
.chroma-low
  --chroma 0.15
.chroma-auto
  --chroma 0.20
.chroma-high
  --chroma 0.25
.chroma-higher
  --chroma 0.30
.chroma-highest
  --chroma 0.35

.hue-red
  --hue 0
.hue-orange
  --hue 60
.hue-gold
  --hue 120
.hue-green
  --hue 180
.hue-blue
  --hue 240
.hue-violet
  --hue 300

:root, .body
  // defaults
  // TODO Posh also defines this but doesn't include :host
  --copy-font var(--base-font)
  --heading-font var(--base-font)
  // adapted from https://open-props.style/#typography
  // based on Modern Font Stacks: https://modernfontstacks.com/
  --font-stack-system-ui system-ui, sans-serif
  --font-stack-transitional Charter, Bitstream Charter, Sitka Text, Cambria, serif
  --font-stack-old-style Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif
  --font-stack-humanist Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif
  --font-stack-geometric-humanist Avenir, Montserrat, Corbel, URW Gothic, source-sans-pro, sans-serif
  --font-stack-classical-humanist Optima, Candara, Noto Sans, source-sans-pro, sans-serif
  --font-stack-neo-grotesque Inter, Roboto, Helvetica Neue, Arial Nova, Nimbus Sans, Arial, sans-serif
  --font-stack-monospace-slab-serif Nimbus Mono PS, Courier New, monospace
  --font-stack-monospace-code Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code,Menlo, Consolas, DejaVu Sans Mono, monospace
  --font-stack-industrial Bahnschrift, DIN Alternate, Franklin Gothic Medium, Nimbus Sans Narrow, sans-serif-condensed, sans-serif
  --font-stack-rounded-sans ui-rounded, Hiragino Maru Gothic ProN, Quicksand, Comfortaa, Manjari, Arial Rounded MT, Arial Rounded MT Bold, Calibri, source-sans-pro, sans-serif
  --font-stack-slab-serif Rockwell, Rockwell Nova, Roboto Slab, DejaVu Serif, Sitka Small, serif
  --font-stack-antique Superclarendon, Bookman Old Style, URW Bookman, URW Bookman L, Georgia Pro, Georgia, serif
  --font-stack-didone Didot, Bodoni MT, Noto Serif Display, URW Palladio L, P052, Sylfaen, serif
  --font-stack-handwritten Segoe Print, Bradley Hand, Chilanka, TSCu_Comic, casual, cursive
  
  --font-stack-classic var(--font-stack-antique)
  // --font-stack-transitional
  --font-stack-slab var(--font-stack-slab-serif)
  --font-stack-system var(--font-stack-system-ui)
  --font-stack-humanist var(--font-stack-classical-humanist)
  --font-stack-geometric var(--font-stack-geometric-humanist)
  --font-stack-modern var(--font-stack-neo-grotesque)
  
.base-font-classic
  --base-font var(--font-stack-classic)
.base-font-transitional
  --base-font var(--font-stack-transitional)
.base-font-slab
  --base-font var(--font-stack-slab)
.base-font-system
  --base-font var(--font-stack-system)
.base-font-humanist
  --base-font var(--font-stack-humanist)
.base-font-geometric
  --base-font var(--font-stack-geometric)
.base-font-modern
  --base-font var(--font-stack-modern)

.heading-font-classic
  --heading-font var(--font-stack-classic)
.heading-font-transitional
  --heading-font var(--font-stack-transitional)
.heading-font-slab
  --heading-font var(--font-stack-slab)
.heading-font-system
  --heading-font var(--font-stack-system)
.heading-font-humanist
  --heading-font var(--font-stack-humanist)
.heading-font-geometric
  --heading-font var(--font-stack-geometric)
.heading-font-modern
  --heading-font var(--font-stack-modern)

.copy-font-classic
  --copy-font var(--font-stack-classic)
.copy-font-transitional
  --copy-font var(--font-stack-transitional)
.copy-font-slab
  --copy-font var(--font-stack-slab)
.copy-font-system
  --copy-font var(--font-stack-system)
.copy-font-humanist
  --copy-font var(--font-stack-humanist)
.copy-font-geometric
  --copy-font var(--font-stack-geometric)
.copy-font-modern
  --copy-font var(--font-stack-modern)
