:root

  --dark-primary-foreground #fafafa
  --dark-primary-background #171717
  --dark-primary-accent lighten(#c69bf5, 50%)
  --dark-primary-highlight #c69bf5

  --light-primary-foreground #171717
  --light-primary-background #fafafa
  --light-primary-accent #c69bf5
  --light-primary-highlight darken(#c69bf5, 50%)